/*  */
/* 
Special Note
My device is width 1280px     
Resolution is 1920*1080 (150%)
*/
/*  */
/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Universal tag */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All common style start */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;

}

.primary-button {
    display: inline;
    color: #FFF;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    transition: .2s;
}
.primary-button:hover{
    color: #272727;
    border: 1px solid #272727;
    background-color: transparent;
    cursor: pointer;
}
.shop-section-linked{
    text-decoration: none;
}
.shop-section-linked:active,.shop-section-linked:focus {
    outline: none;
    text-decoration: none;
}
.primary-color {
    color: #E55473;
}

.white-color {
    color: #FFF;
}

/* Body & common style end */

/* Header style start */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 5vh 140px 0px 140px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.banner-image img {
    height: 95vh;
}

/* Header style end */

/* Main style start */

/* Section Style Start*/
.section-title {
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

/* Section Style End*/

/* Our Featured Flowers Section Style start */
.featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 140px 50px;
}

.featured-box {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    align-items: end;
    margin-top: 40px;
}

.featured-item {
    width: 33%;
}

.featured-image-one,
.featured-image-two,
.featured-image-three {
    border-radius: 300px 300px 0px 0px;
    width: 90%;

}

.featured-image-one {
    padding: 50px 20px 0;
    background: rgba(167, 33, 98, 0.15);
}

.featured-image-two {
    padding: 94px 20px 50px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-image-three {
    padding: 20px 20px 0;
    background: rgba(71, 125, 17, 0.15);
}

.featured-item-caption {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}
/* Our Featured Flowers Section Style end */

/* Shop Section Style Start */
.shop-container{
    text-align: center;
    padding:50px 140px 100px;
}
.all-products{
    margin-bottom: 30px;
}
.product-column{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.product-item-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}
.product-item-image:hover{
    border-radius: 2%;
}
.product-item-title{
    font-size: 20px;
    margin-top: 15px;
}
.product-item-price{
    font-size: 18px;
    margin-top: 5px;
}
/* Shop Section Style End */

/* Why Chose Us Section Style Start */
.why-chose-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0px 140px 100px;
    padding: 50px 85px;
}

.why-chose-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.why-chose-item-img {
    width: 70px;
    margin-bottom: 15px;
}

.why-chose-item-caption {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

/* Why Chose Us Section Style End */

/* Hot Deal Section Start */
.hot-deal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 100px;
    padding: 50px 140px;
}

.hot-deal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hot-deal-image {
    width: 30%;
}

/* Hot Deal Section End */

/* Instagram section Start */
.instagram-container {
    margin-bottom: 100px;
    padding: 0px 140px;

}

.instagram-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-image {
    width: 235px;
}

/* Instagram section End */

/* Subscribe Banner Section Start */
.subscribe-form-container {
    border-radius: 8px;
    background: url(./Flower-Asset/Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px 140px 100px;
    padding: 80px 200px;
}

.subscribe-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.subscribe-form-input {
    border-radius: 8px;
    background: #FFF;
    padding: 20px;
    width: 100%;
    border: none;
}

.subscribe-form-input::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

/* Subscribe Banner Section End */
/* Main style end */

/* Footer style start */
.footer-container {

    text-align: center;
    background: #111010;
    padding: 100px 0px 50px;
}

.footer-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-social-icon img {
    width: 40px;
}

.footer-copywrite {
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    font-weight: 400;
}

/* Footer style end */





/* Body style end */