/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Universal tag */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & common style start */
body {
    font-family: 'Lato', sans-serif;
}
.primary-button {
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    display: inline;
    border: 0;
}
/* Body & common style end */

/* Header style start */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 5vh 140px 0px 140px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.banner-image img {
    height: 95vh;
}
/* Header style end */

/* Main style start */

/* Section Style Start*/
.section-title {
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}
/* Section Style End*/

/* Our Featured Flowers Section Style start */
.featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 140px;
}

.featured-box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    align-items: end;
}

.featured-item {
    width: 33%;
}

.featured-image-one,
.featured-image-two,
.featured-image-three {
    border-radius: 300px 300px 0px 0px;
    width: 90%;

}

.featured-image-one {
    padding: 50px 20px 0;
    background: rgba(167, 33, 98, 0.15);
}

.featured-image-two {
    padding: 94px 20px 50px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-image-three {
    padding: 20px 20px 0;
    background: rgba(71, 125, 17, 0.15);
}

.featured-item-caption {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}
/* Our Featured Flowers Section Style end */

/* Why Chose Us Section Style Start */
.why-chose-container {
    margin: 0px 140px;
    padding: 50px 85px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 100px;
}

.why-chose-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.why-chose-item-img {
    width: 70px;
    margin-bottom: 15px;
}

.why-chose-item-caption {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
/* Why Chose Us Section Style End */

/* Hot Deal Section Start */
.hot-deal-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
    margin-bottom: 100px;
    padding: 50px 140px;
}
.hot-deal-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hot-deal-image{
    width: 30%;
}
/* Hot Deal Section End */


/* Main style end */
/* Footer style start */
/* Footer style end */





/* Body style end */